:root {
  --ColPrim: #A5B68D;
  --ColSec: #ECDFCC;
  --ColTer: #FCFAEE;
  --ColCuar: #DA8359;
  --Font1: "Qwitcher Grypen", cursive;
  --Font2: "Comfortaa", sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .menu-button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--ColSec);
    color: black;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .menu-button:hover {
    background-color: var(--ColCuar);
  }
  