
.grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "menu content sidebar"
      "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  .header {
    grid-area: header;
    background-color:var(--ColPrim);
    color: white;
    font-family: var(--Font1);
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
  }
  
  .menu {
    grid-area: menu;
    background-color: var(--ColSec);
    font-family: var(--Font2);
    padding: 1rem;
  }
  
  .content {
    grid-area: content;
    font-family: var(--Font2);
    text-align: center;
    padding: 0;
  }
  
  .sidebar {
    grid-area: sidebar;
    background-color: var(--ColSec);
    font-family: var(--Font2);
    padding: 1rem;
  }
  
/* Productos Gridlayout */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste a columnas de 250px mínimo */
  gap: 20px;
  padding: 20px;
}

.product-card {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 350px; /* Altura fija para asegurar que todos los productos se alineen */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea el texto al fondo */
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 10px;
}

.overlay h3,
.overlay p {
  margin: 0;
}

button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #e5533d;
}


.menu {
  display: flex;
  flex-direction: column;
}

.menu-button {
  color: white;
  transition: color 0.3s ease-in-out, border-radius 0.3s ease-in-out; 
}

.menu-button:hover {
  border-radius: 3rem;
  color: var(--ColSec); 
}

